.card {
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: 0.3s;
    border-radius: 5px;
    float: center;
    margin-right: 15px;

  }
  
  .card:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
  }
  
  .container {
    padding: 2px 16px;
  }

  img {
    border-radius: 5px 5px 0 0;
  }
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  .font{
    font-family: 'Poppins', sans-serif
  }

 .column {
    float: left;
    width: 33%;
 }