<!DOCTYPE html>
<!-- Font -->
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet">
<html>
  <head>
    <title>air.ly | Your One-Stop-Shop to Finding Safe Outdoor Retreats During Wildfires</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      #map {
        width: 3300px;
        height: 2400px;
      }
      #legend {
        position: fixed;
        bottom: 0px;
        left: 70px;
        z-index: 1;
      }
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        font-family: 'Poppins', sans-serif;
      }
      #form_container {
        position: absolute;
        z-index: 10;
        display: none;
        width: 300px;
      }
      #custom {
        position: absolute;
        right: 200px;
        width: 200px;
        top: 300px;
      }
    </style>
    <link rel="stylesheet" href="../static/css/main.css">
  </head>
  <body>
    <img id="legend" src="../static/images/Legend.png" alt="air quality legend" style="width: 329px; height: 467px;">
    <div id="container">
      <div id="map"></div>
    </div>

    <script src="https://polyfill.io/v3/polyfill.min.js?features=default"></script>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCgxPi-s0nirteUxHlZB8rS1bHTKt89F0I&callback=initMap"async defer></script>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script>
      "use strict";
      var googleMap = document.getElementById('map');
      var form = document.getElementById('form_container');
      var map;
      var mapsEvent;
      function initMap() {
        const myLatLng = {lat: 37.959585, lng: -121.295902}
        map = new google.maps.Map(document.getElementById('map'), {
          center: myLatLng,
          zoom: 8
        });
      }
      function drawCircle (lat, long, aqi) {
        var aqi = aqi;
        var color;
        var condition = "";
        var warning = '';
        var result;
        if (aqi < 50) {
          color = "#3E815C"
          result = "healthy"
          condition = result.fontcolor(color)
          warning = ' - have fun!'
        } else if (aqi <= 100 && aqi > 50){
          color = "#EADD6E"
          result = "moderate"
          condition = result.fontcolor(color)
          warning = ' - have fun, but, take caution!'
        } else if (aqi <= 150 && aqi > 100){
          color = "#F8B385"
          result = "unhealthy for sensitive groups"
          condition = result.fontcolor(color)
          warning = ' - take caution!'
        } else if (aqi <= 200 && aqi > 150){
          color = "#F43F35"
          result = "unhealthy"
          condition = result.fontcolor(color)
          warning = ' - stay safe!'
        } else if (aqi <= 300 && aqi > 200){
          color = "#DABFDE"
          result = "very unhealthy"
          condition = result.fontcolor(color)
          warning = ' - please try to stay inside and stay safe!'
        } else if (aqi > 300) {
          color = "#632E34"
          result = "hazardous"
          condition = result.fontcolor(color)
          warning = ' - please stay inside, come back to explore later!'
        } else {
          color = "#00000000"
        }

        // add the circle for this city to the map
        const circle = new google.maps.Circle ({
          clickable: true,
          fillColor: color,
          fillOpacity: 1.0,
          radius : Math.sqrt(10000) * 100,
          strokeColor: color,
          strokeOpacity: 1.0,
          strokeWeight: 2,
          map,
          center: {lat: lat, lng:long}
        });

        var apiData = '';
        google.maps.event.addListener(circle, 'click', function(ev){
            $.ajax(
            {
                type:'GET',
                contentType:'application/json;charset-utf-08',
                dataType:'json',
                url:'http://localhost:5000/api/recs?lat=' + lat + "&long=" + long ,
                success:function (data) {
                    yelp_data(data)
                    
                    var reply=data.reply;
                    if (reply=="success")
                    {
                        return;
                    }
                    else
                        return;

                }
            }
        );

        var contentString;
        function yelp_data(tempdata){
            contentString = '<div class="container" style="text-align: center;">' + '<img src="../static/images/airlylogo.png" alt="air.ly logo" style="float: left; width: 260px; height: 96px;"><br>'
                +'<p style="text-align: left">The air quality index in <strong>' + tempdata[0].location.city + '</strong> is ' + aqi + '.</p><p style="text-align: left">The conditions are<strong> ' + condition + '</strong>' + warning + '</p><br>'
                + '<div class="row" style="width: 660px">' +
                '<a href="'+ tempdata[0].url +'"><div class="column"><div class="card" style="width: 180px;color: black" ><img src="' + tempdata[0].image_url + '" alt="yelpImage" style="width:180px;height:180px">' +
                '<h4><b>' + tempdata[0].name + '</b></h4><p>' + tempdata[0].categories[0].title + '</p><br></div></div></a>' +
                '<a href="'+ tempdata[1].url +'"><div class="column"><div class="card" style="width: 180px;color: black" ><img src="' + tempdata[1].image_url + '" alt="yelpImage" style="width:180px;height:180px">' +
                '<h4><b>' + tempdata[1].name + '</b></h4><p>' + tempdata[1].categories[0].title + '</p><br></div></div></a>' +
                '<a href="'+ tempdata[2].url +'"><div class="column"><div class="card" style="width: 180px;color: black" ><img src="' + tempdata[2].image_url + '" alt="yelpImage" style="width:180px;height:180px">' +
                '<h4><b>' + tempdata[2].name + '</b></h4><p>' + tempdata[2].categories[0].title + '</p><br></div></div></a>' + '</div></div>'; 
            const infoWindow = new google.maps.InfoWindow({
            content: contentString
        });

        infoWindow.setPosition(circle.getCenter());
        infoWindow.open(map);
        }
        
        });
        
      }
   
      var http = new XMLHttpRequest();
      var url = 'https://api.waqi.info/map/bounds/';
      var api_key = 'b49a33f9e559aa5260b4423411c1b2b31e2eef56'
      var latlngbox = "28,-129,49,-70" ;
      http.open('POST', url + "?latlng=" + latlngbox + "&token=" + api_key, true);
      http.onreadystatechange = function() {//Call a function when the state changes.
        if(this.readyState == 4 && this.status == 200) {
          var data = JSON.parse(this.response).data;
          data.forEach(datapoint => {
            drawCircle(datapoint.lat, datapoint.lon, datapoint.aqi)
          });
        }
      }
      http.send();
    </script>
</body>
</html>
