<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../static/css/main.css">
    
var word = 'hello'

'<div class="card"><img src="' + 'alt="image'" style="width:100"  </div>'


'<div class="card">'
    <img src="../static/images/img_avatar.png" alt="Avatar" style="width:100%">
    <div class="container">
      <h4><b>John Doe</b></h4>
      <p>Architect & Engineer</p>
    </div>
</div>'






</head>
<body>
    <div class="container">
        <p>The air quality index is 180.</p>
    <p>The conditions are unhealthy — stay safe and take caution!</p>
    <div class='row'>
            <div class="card">
                <img src="../static/images/img_avatar.png" alt="Avatar" style="width:100%">
                <div class="container">
                  <h4><b>John Doe</b></h4>
                  <p>Architect & Engineer</p>
                </div>
            </div>
            <div class="card">
                <img src="../static/images/img_avatar.png" alt="Avatar" style="width:100%;height: 50%">
                <div class="container">
                  <h4><b>John Doe</b></h4>
                  <p>Architect & Engineer</p>
                </div>
            </div>
            <div class="card">
                <img src="../static/images/img_avatar.png" alt="Avatar" style="width:100%">
                <div class="container">
                  <h4><b>John Doe</b></h4>
                  <p>Architect & Engineer</p>
                </div>
            </div>
        
    
       
    </div>
    </div>
    
    

</body>
</html>